---
import { CLIENT_LIST as clients } from "../../data";

const clientTestemonials = clients.filter((client) => client.testimonials)
---

<div class="px-8 md:p-0 lg:px-0">
  <div class="__glide glide-testimonials">
    <div class="__glide__track" data-glide-el="track">
      <ul class="__glide__slides text-md md:text-lg text-center italic">
        {
          clientTestemonials.map((client) => (
            <li class="__glide__slide flex flex-col items-center justify-between space-y-4">
              <blockquote>{client.testimonials}</blockquote>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
