---
export function getStaticPaths() {
  return [
    {params: {career: 'frontend'}},
    {params: {career: 'backend'}},
    {params: {career: 'fullstack'}},
  ];
}

import Hiring from "../../layouts/Hiring.astro";
import { JOB_DESCRIPTION } from '../../data'

const { career } = Astro.params;

const job = JOB_DESCRIPTION.find(el => el.id === career)
---

<Hiring title={career}>
  <main class="dark:text-white">
    <div class="font-display">
      <section class="careers--hero flex justify-center items-center py-[10rem] lg:py-[16rem] bg-cover bg-top bg-no-repeat lg:mb-20">
        <div class="container">
          <div class="text-center flex items-center flex-col text-white">
            <h1 class="font-bold text-4xl lg:text-8xl mb-12">{ job?.title }</h1>
            <span class="text-lg mb-6">{ job?.type }</span>
            <a class="bg-red-800 py-4 px-12 rounded inline-block transition-colors duration-300 ease-in-out hover:bg-black/70 text-white whitespace-nowrap" href="#">Apply now</a>
          </div>
        </div>
      </section>

      <section class="container mb-24">
        <div class="flex flex-col lg:grid lg:grid-cols-12 lg:gap-8">
          <div class="mb-8 lg:col-span-8 order-2 lg:order-1">
            <h2 class="uppercase font-bold text-3xl lg:text-5xl mb-8">{ job?.title }</h2>
            {
              job?.description.map((element) => {
                return (
                  <p class="text-2xl lg:text-3xl mb-5">{ element?.title }</p>
                  <ul class="mb-4">
                    {element.content.map(content => {
                      return (
                        <li>
                          { content?.text }
                        </li>
                      )
                    })}
                  </ul>
                )
              })
            }
          </div>

          <div class="lg:col-span-4 order-1 lg:order-2">
            <div class="grid grid-cols-12 gap-4 justify-between lg:block py-12 lg:px-8 lg:sticky lg:top-0 flex-wrap">
              <a class="hidden bg-red-800 py-4 px-12 rounded lg:inline-block transition-colors duration-300 ease-in-out hover:bg-black/70 text-white whitespace-nowrap" href="#">Apply now</a>
              {
                job?.summary?.map(item => {
                  return (
                    <div class="flex items-center col-span-6 md:col-span-3 lg:mt-12">
                      <img class="mix-blend-difference" src={item.icon} alt={item.title} width="30" />
                      <div class="ml-4">
                        <p class="text-gray-400 mb-1">{ item?.title }</p>
                        <p>{ item?.content }</p>
                      </div>
                    </div>
                  )
                })
              }
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Hiring>

<style>
.careers--hero {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .84) 100%, rgba(0, 0, 0, 0) 100%), url('/indevitus-team-carting.JPG');
}
</style>
