@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (max-width: 640px) {
    .container {
      max-width: 100% !important;
    }
  }

  .container {
    @apply sm:mx-auto;
  }

  .dark ::selection {
    background-color: theme('colors.white');
    color: theme('colors.black');
  }

  ::selection {
    background-color: theme('colors.black');
    color: theme('colors.white');
  }

  .halftone {
    background-image: radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0.1) 0.3rem,
            transparent 0
        ),
        radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0.1) 0.3rem,
            transparent 0
        );
    background-size: 21.3rem 12.3rem;
    background-position: 0 0, 11.65rem 5.65rem;
  }

  .dark .halftone {
    background-image: radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.2) 0.3rem,
            transparent 0
        ),
        radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.2) 0.3rem,
            transparent 0
        );
    background-size: 21.3rem 12.3rem;
    background-position: 0 0, 11.65rem 5.65rem;
  }
}
