@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (max-width: 640px) {
    .container {
      max-width: 100% !important;
    }
  }

  .container {
    @apply sm:mx-auto;
  }

  .dark ::selection {
    background-color: theme('colors.white');
    color: theme('colors.black');
  }

  ::selection {
    background-color: theme('colors.black');
    color: theme('colors.white');
  }

  .halftone {
    background-image: radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0.1) 0.3rem,
            transparent 0
        ),
        radial-gradient(
            circle at center,
            rgba(0, 0, 0, 0.1) 0.3rem,
            transparent 0
        );
    background-size: 21.3rem 12.3rem;
    background-position: 0 0, 11.65rem 5.65rem;
  }

  .dark .halftone {
    background-image: radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.2) 0.3rem,
            transparent 0
        ),
        radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.2) 0.3rem,
            transparent 0
        );
    background-size: 21.3rem 12.3rem;
    background-position: 0 0, 11.65rem 5.65rem;
  }

  .btn {
    @apply text-base tracking-wider leading-4 relative inline-block h-[42px] w-[190px] overflow-hidden rounded-3xl;
  }

  .btn:hover .btn--svg__label {
    @apply text-black dark:text-white;
  }

  .btn:hover .btn--svg__circle circle {
    @apply scale-0;
  }

  .btn--svg__label {
    @apply font-display font-bold text-white dark:text-black z-[3] text-center w-full transition-all duration-250 ease-in-out;
  }

  .btn svg,
  .btn--svg__label {
    @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] origin-center;
  }

  .btn--svg__circle circle {
    @apply transition-all duration-250 ease-in-out scale-110 origin-center;
  }

  .btn:hover .btn--svg__border--left path,
  .btn:hover .btn--svg__border--right path {
    stroke-dashoffset: 0;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
  }

  .btn--svg__border--left path,
  .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703125 61.8204345703125;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
    transition-delay: 0.5s;
  }

  .btn--svg__border--left path {
    stroke-dashoffset: -61.8204345703125;
  }

  .btn--svg__border--right path {
    stroke-dashoffset: 61.8204345703125;
  }
}

@keyframes rotate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
