@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (max-width: 640px) {
    .container {
      max-width: 100% !important;
    }
  }

  .container {
    @apply sm:mx-auto;
  }

  ::selection {
    @apply bg-secondary text-white;
  }

  .dark ::selection {
    @apply bg-white text-black;
  }

  .halftone {
    background-image: radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.1) 0.3rem,
        transparent 0
      ),
      radial-gradient(
        circle at center,
        rgba(0, 0, 0, 0.1) 0.3rem,
        transparent 0
      );
    background-size: 21.3rem 12.3rem;
    background-position:
      0 0,
      11.65rem 5.65rem;
  }

  .dark .halftone {
    background-image: radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.2) 0.3rem,
        transparent 0
      ),
      radial-gradient(
        circle at center,
        rgba(255, 255, 255, 0.2) 0.3rem,
        transparent 0
      );
    background-size: 21.3rem 12.3rem;
    background-position:
      0 0,
      11.65rem 5.65rem;
  }

  .dark .icon-blend {
    @apply [filter:invert(100%)_sepia(0%)_saturate(0%)_hue-rotate(187deg)_brightness(102%)_contrast(107%)];
  }

  .glide__slide {
    @apply !h-auto flex justify-center items-center flex-col;
  }

  .dark .blob-btn:before {
    @apply border-white;
  }

  .careers--hero {
    @apply [background-image:_linear-gradient(45deg,_rgba(0,_0,_0,_0.84)_100%,_rgba(0,_0,_0,_0)_100%),_url('/indevitus-team-carting.JPG')];
  }
}

@keyframes rotate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
