---
import HomeLayout from '../layouts/HomeLayout.astro';
import Team from '../components/Team.astro';
import Hero from '../components/Hero.astro';
import ClientSpotlight from '../components/Clients/ClientSpotlight.astro';
import Map from '../components/Map.astro';

import '../../node_modules/@glidejs/glide/dist/css/glide.core.min.css';
import Hiring from '../components/Hiring/Hiring.astro';
---

<script src="../scripts/main.js"></script>

<HomeLayout>
	<main class="dark:text-white">
		<section id="home" class="overflow-hidden">
			<Hero />
		</section>

		<section
			id="clients"
			class="container relative"
		>
			<ClientSpotlight />
		</section>

		<section
			id="hiring"
		>
			<Hiring />
		</section>

		<section id="team">
			<Team />
		</section>

		<section
			id="map"
			class="border-b border-t border-black z-[1]"
		>
			<Map />
		</section>
	</main>
</HomeLayout>

<style>
	.glide__bullet--active {
		background: black;
	}
	html.dark .glide__bullet--active {
		background: white !important;
	}
</style>
