---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Team from '../components/Team.astro';
import Testimonials from '../components/Testimonials.astro';
import Skills from '../components/Skills.astro';

import "../../node_modules/@glidejs/glide/dist/css/glide.core.min.css";
---

<script src="../scripts/main.js"></script>

<Layout title="Welcome to Indevitus">
	<Header />
	<main class="dark:text-white">
		<section id="home" class="container">
			<div class="py-8 lg:py-16 font-display text-4xl lg:text-9xl uppercase border-b border-black dark:border-white">
				<p class="px-8 lg:px-0 text-center">HELLO</p>
			</div>
			<div class="py-8 lg:py-16 font-display text-xl lg:text-3xl lg:leading-10 uppercase border-b border-black dark:border-white ">
				<p class="px-8 lg:px-0 text-center">We are Indevitus. We source exceptional talent and embed them within your company remotely for a reasonable monthly fee.</p>
			</div>
		</section>

		<section id="team">
			<Team />
		</section>

		<section class="container" id="skills">
			<Skills />
		</section>
		<section id="clients" class="container">
			<Testimonials />
		</section>
		<section id="contact" class="container">
			<div class="py-16 font-display lg:leading-10 uppercase border-b border-black dark:border-white text-center">
				<p class="px-8 lg:px-0 text-xl lg:text-3xl mb-8 lg:mb-12">Ready to talk?</p>
				<p class="px-8 lg:px-0 text-xl lg:text-3xl">
					<a href="https://www.linkedin.com/company/indevitus/" target="_blank" class="rounded-full bg-black dark:bg-white text-white dark:text-black whitespace-nowrap px-4 lg:px-8 py-4 contact-us-btn">
						Contact us today
					</a>
				</p>
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<style is:global>
	.glide__slide { 
		height: auto !important;
	}
    .glide__bullet--active { background: black; }
    html.dark .glide__bullet--active { background: white !important; }

	.contact-us-btn {
		transition: background .3s ease-in-out;
	}

	.contact-us-btn:hover {
		background: #BDBDBD;
        transition: background .3s ease-in-out;
	}
</style>
