---
import HomeLayout from "../layouts/HomeLayout.astro";
---

<HomeLayout>
  <main class="dark:text-white">
		<section id="info" class="overflow-hidden">
      <div class="container flex flex-col justify-center min-h-screen items-center gap-9 lg:gap-14 text-center">
        <h1 class="text-4xl lg:text-6xl">Thank you for your interest in joining <span class="text-primary">INDEVITUS.</span></h1>
        <div class="text-md lg:text-xl">
          <p>We appreciate you taking the time to apply.</p>
          <p>We have received your application and will respond in short notice.</p>
        </div>
      </div>
		</section>
  </main>
</HomeLayout>
