---
const { link, title } = Astro.props
---

<button id="button" class="blob-btn">
  {title}
  <span class="blob-btn__inner">
    <span class="blob-btn__blobs">
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
      <span class="blob-btn__blob"></span>
    </span>
  </span>
</button>

<script define:vars={{link}}>
  const button = document.getElementById('button');

  button?.addEventListener('click', () => {
    window.location.href = link;
  });
</script>

<style>
.blob-btn {
  @apply z-[1] relative px-8 py-4 text-center uppercase text-black font-bold bg-transparent transition-colors duration-500 rounded-[30px];
}

.blob-btn:before {
  @apply content-[""] z-[1] absolute left-0 top-0 w-full h-full border-2 border-solid border-secondary rounded-[30px];
}

.blob-btn:after {
  @apply content-[""] -z-[2] absolute left-[3px] top-[3px] w-full h-full transition-all duration-300 delay-200 rounded-[30px];
}

.blob-btn:hover {
  @apply text-white rounded-[30px];
}

.blob-btn:hover:after {
  @apply transition-all duration-300 left-0 top-0 rounded-[30px];
}

.blob-btn__inner {
  @apply -z-[1] overflow-hidden absolute left-0 top-0 w-full h-full rounded-[30px] bg-white;
}

.blob-btn__blobs {
  @apply relative block h-full [filter:url('#goo')];
}

.blob-btn__blob {
  @apply absolute top-[2px] w-[calc(100%/3)] h-full bg-black rounded-full transition-transform duration-[450ms] [transform:translate3d(0,_150%,_0)_scale(1.7)];
}

@supports (filter: url('#goo')) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}

.blob-btn__blob:nth-child(1) {
  left: calc((1 - 1) * (120% / 4));
  transition-delay: calc((1 - 1) * 0.08s);
}

.blob-btn__blob:nth-child(2) {
  left: calc((2 - 1) * (120% / 4));
  transition-delay: calc((2 - 1) * 0.08s);
}

.blob-btn__blob:nth-child(3) {
  left: calc((3 - 1) * (120% / 4));
  transition-delay: calc((3 - 1) * 0.08s);
}

.blob-btn__blob:nth-child(4) {
  left: calc((4 - 1) * (120% / 4));
  transition-delay: calc((4 - 1) * 0.08s);
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

@supports (filter: url('#goo')) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}
</style>
