---
import Clients from './Clients.astro';
import Testimonials from './Testimonials.astro';
---

<div class="grid grid-cols-12 lg:gap-x-16 py-16 lg:py-24 font-display">
  <div class="flex flex-col items-center justify-center md:items-start col-span-12 lg:col-span-10">
    <p class="font-archivoBlack text-center lg:text-left text-[2rem] lg:text-[2.625rem] leading-8 lg:pt-0 uppercase mb-12">
      Discover the power of satisfied clients! At our company, client satisfaction isn't just a goal—it's our driving force.
    </p>

    <p class="mb-8">
      Our commitment to excellence has earned us a loyal base of happy customers who rave about their experiences.
      From glowing testimonials to repeat business, our satisfied clients are the heartbeat of our success.
    </p>

    <p>Join the ranks of those who have experienced unparalleled service and results. Choose us and let your satisfaction be the testament to our dedication.</p>
  </div>
  <div class="flex pt-8 justify-center col-span-12">
    <Clients />
    <!-- <Testimonials /> -->
  </div>
</div>
