---
import ThemeSwitcher from './ThemeSwitcher.astro';

const { simplified } = Astro.props;

// const SOCIAL_ICONS = [
//   {
//     id: 'facebook',
//     icon: '/facebook.svg',
//     iconDark: '/facebook-dark.svg',
//     url: 'https://www.facebook.com/'
//   },
//   {
//     id: 'twitter',
//     icon: '/twitter.svg',
//     iconDark: '/twitter.svg',
//     url: 'https://twitter.com/'
//   },
//   {
//     id: 'linkedin',
//     icon: '/linkedin.svg',
//     iconDark: '/linkedin-dark.svg',
//     url: 'https://www.linkedin.com/'
//   },
//   {
//     id: 'instagram',
//     icon: '/instagram.svg',
//     iconDark: '/instagram-dark.svg',
//     url: 'https://www.instagram.com/'
//   }
// ]
---

<footer class="relative overflow-hidden pb-6">
  <div class={`container dark:text-white ${simplified ? 'min-h-[50vh]' : 'min-h-screen'} flex flex-col justify-around font-display`}>
    <!-- <div class={simplified ? 'block max-w-fit mx-auto -translate-y-1/2 shadow-3xl bg-white p-8 md:p-12 rounded-lg' : 'hidden'}>
      <p class="text-black font-semibold text-lg">Share:</p>
      <div class="flex items-center mt-4 mb-8">
        {
          SOCIAL_ICONS.map(item => {
            return (
              <a href={ item.url } aria-label={item.id} target="_blank" class="hover:scale-75 transition-transform">
                <img src={item.icon} alt={item?.id} width="48"/>
              </a>
            )
          })
        }
      </div>
    </div> -->
    <div class="pt-12 flex flex-col justify-evenly flex-1">
      {
        !simplified ?
        <div id="contact" class="lg:w-2/3 dark:text-white mb-10">
          <p class="text-5xl lg:text-7xl font-bold pb-8 lg:max-w-[90%]">Still not convinced?</p>
          <p class="text-xl lg:text-2xl pb-10 lg:max-w-[90%]">
            In today's competitive marketplace, partnering with the right outsourcing provider can make all the difference.
            <br/>Contact us today to learn more about how we can help you unlock the full potential of your business.
          </p>
          <a
            href="https://www.linkedin.com/company/indevitus/"
            class="font-display rounded inline-block transition-colors duration-300 ease-in-out bg-black dark:bg-white hover:!bg-black/70 dark:hover:!bg-white/90 text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2"
            target="_blank"
          >
            Get in touch
          </a>
        </div>
        :
        <a href="/" title="Indevitus" class="flex items-center gap-3 mb-6">
          <img
            id="company-logo"
            src="/badge-white.svg"
            alt="Indevitus"
            height="80px"
            class="h-12 lg:h-16 mix-blend-difference transition-height duration-300"
          />
        </a>
      }

      <div class="grid grid-cols-1 lg:grid-cols-2 space-y-4 lg:space-y-0">
        <div>
          <h2 class="uppercase mb-2 font-bold">Address</h2>
          <p>Indevitus d.o.o.</p>
          <p>Kulina bana 14</p>
          <p>70230, Bugojno</p>
          <p>Bosnia & Herzegovina</p>
        </div>
        <div class="self-start">
          <h2 class="uppercase mb-2 font-bold">Contact</h2>
          <span>Hours:</span>
          <ul>
            <li>2AM - 4PM EST</li>
            <li>9AM - 5PM CEST</li>
          </ul>
          <p class="mt-2">Email: hello@indevitus.com</p>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-center py-4">
      <div class="flex items-center">
        <a
          class="inline-block hover:animate-bounce"
          target="_blank"
          href="https://www.linkedin.com/company/indevitus/"
          title="LinkedIn"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6" viewBox="0 0 16 16">
            <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
          </svg>
        </a>
        <p class="relative text-xs sm:text-sm pl-4 xs:pl-8 before:absolute before:w-[6px] before:h-[6px] before:left-[5px] before:xs:left-3 before:top-1/2 before:-translate-y-1/2 before:rounded-full before:bg-black before:dark:bg-white">&copy; Indevitus.com { new Date().getFullYear() } - All rights reserved</p>
      </div>

      <ThemeSwitcher />
    </div>
  </div>
  {Array.from(Array(20).keys()).map(el => {
    return <span class={`illustration w-[20px] h-[20px] animate-[rotate_25s_linear_infinite] block absolute -bottom-[150px] pointer-events-none dark:bg-[rgba(255,_255,_255,_0.5)] dark:md:bg-[rgba(255,_255,_255,_0.8)]`} />
  })}
</footer>

<script>
  const logo = document.getElementById('logo');

  const scrollToTop = () => {
    setTimeout(() => {
      window.scrollTo({ top: 0, behavior: 'smooth' })
    }, 300)
  }

  if (logo) {
    logo.addEventListener('click', scrollToTop)
  }
</script>

<style>
.illustration:nth-child(1) {
  @apply left-[59%] w-[40px] h-[40px] md:w-[80px] md:h-[80px];

  animation-delay: 0s;
}

.illustration:nth-child(2) {
  @apply left-[10%] w-[20px] h-[20px];

  animation-delay: 2s;
  animation-duration: 12s;
}

.illustration:nth-child(3) {
  @apply left-[34%] w-[20px] h-[20px];

  animation-delay: 4s;
}

.illustration:nth-child(4) {
  @apply left-[58%] w-[30px] h-[30px] md:w-[60px] md:h-[60px];

  animation-delay: 0s;
  animation-duration: 18s;
}

.illustration:nth-child(5) {
  @apply left-[69%] w-[20px] h-[20px];

  animation-delay: 0s;
}

.illustration:nth-child(6) {
  @apply left-[74%] w-[60px] h-[60px] md:w-[110px] md:h-[110px];

  animation-delay: 3s;
}

.illustration:nth-child(7) {
  @apply left-[93%] w-[60px] h-[60px] md:w-[150px] md:h-[150px];

  animation-delay: 7s;
}

.illustration:nth-child(8) {
  @apply left-[50%] w-[25px] h-[25px];

  animation-delay: 15s;
  animation-duration: 45s;
}

.illustration:nth-child(9) {
  @apply left-[46%] w-[15px] h-[15px];

  animation-delay: 2s;
  animation-duration: 35s;
}

.illustration:nth-child(10) {
  @apply left-[20%] w-[15px] h-[15px];

  animation-delay: 2s;
  animation-duration: 35s;
}

.illustration:nth-child(11) {
  @apply left-[83%] w-[50px] h-[50px];

  animation-delay: 3s;
  animation-duration: 18s;
}

.illustration:nth-child(12) {
  @apply left-[99%] w-[10px] h-[10px];

  animation-delay: 0s;
  animation-duration: 18s;
}

.illustration:nth-child(13) {
  @apply left-[94%] w-[33px] h-[33px];

  animation-delay: 1s;
  animation-duration: 10s;
}

.illustration:nth-child(14) {
  @apply left-[82%] w-[60px] h-[60px];

  animation-delay: 0s;
  animation-duration: 18s;
}

.illustration:nth-child(15) {
  @apply left-[87%] w-[60px] h-[60px];

  animation-delay: 0s;
  animation-duration: 14s;
}

.illustration:nth-child(16) {
  @apply left-[55%] w-[40px] h-[40px];

  animation-delay: 0s;
  animation-duration: 25s;
}

.illustration:nth-child(17) {
  @apply left-[61%] w-[45px] h-[45px];

  animation-delay: 1s;
  animation-duration: 17s;
}

.illustration:nth-child(18) {
  @apply left-[68%] w-[20px] h-[20px];

  animation-delay: 0s;
  animation-duration: 22s;
}

.illustration:nth-child(19) {
  @apply left-[73%] w-[55x] h-[55px];

  animation-delay: 5s;
  animation-duration: 14s;
}

.illustration:nth-child(20) {
  @apply left-[84%] w-[40x] h-[40px];

  animation-delay: 0s;
  animation-duration: 13s;
}
</style>
