---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header class="fixed left-0 top-0 w-full bg-white dark:bg-black z-50 font-display">
  <div class="container flex justify-between items-center lg:justify-start select-none border-b-2 border-black dark:border-neutral-100 py-6 bg-white dark:bg-black z-50">
    <a href="/" title="Indevitus" class="flex items-center gap-3">
      <img
        x-cloak
        x-show="darkMode"
        src="/badge-white.svg"
        alt="Indevitus"
        height="80px"
        class="h-12 lg:h-16"
      />

      <img
        x-cloak
        x-show="!darkMode"
        src="/badge-black.svg"
        alt="Indevitus"
        class="h-12 lg:h-16"
      />

      <span class="dark:text-white font-bold text-2xl lg:text-4xl">INDEVITUS</span>
    </a>

    <button
      id="hamburger"
      class="no-tap-highlight cursor-pointer bg-transparent lg:hidden"
      aria-controls="menu"
    >
      <span class="line" />
      <span class="line" />
      <span class="line" />
    </button>

    <nav
      id="menu"
      class="flex flex-col overflow-y-auto fixed w-full top-[114px] bottom-0 left-0 pt-8 pb-24 bg-white dark:bg-black z-50 invisible lg:static lg:flex-row lg:visible lg:p-0 lg:w-auto lg:ml-auto lg:overflow-visible uppercase"
    >
      <ul class="container flex flex-col lg:flex-row lg:space-x-8 lg:items-center lg:px-0 text-black dark:text-white">
        <li class="mb-6 lg:mb-0">
          <a
            href="#clients"
            class="relative pb-1 after:content-[''] after:absolute after:bottom-0 after:h-[2px] after:transition-[width] after:duration-300 after:ease-in-out after:left-0 after:w-0 after:bg-black dark:after:bg-white hover:after:w-full"
            >Clients</a>
        </li>
        <li class="mb-6 lg:mb-0">
          <a
            href="#contact"
            class="relative pb-1 after:content-[''] after:absolute after:bottom-0 after:h-[2px] after:transition-[width] after:duration-300 after:ease-in-out after:left-0 after:w-0 after:bg-black dark:after:bg-white hover:after:w-full"
            >Contact</a>
        </li>
      </ul>

      <div class="container flex space-x-3 items-center lg:px-0 lg:ml-8">
        <ThemeSwitcher />
      </div>
    </nav>
  </div>
</header>


<script>
  const BREAKPOINT_LG = 1024;
  const hamburger = document.getElementById('hamburger');
  const menu = document.getElementById('menu');
  let mobileMenuOpen = false;

  function mobileMenuToggle () {
    mobileMenuOpen = !mobileMenuOpen;
    const visibilityClass = mobileMenuOpen ? 'visible' : 'invisible';
    menu?.classList.replace(visibilityClass === 'visible' ? 'invisible' : 'visible', visibilityClass);
    hamburger?.classList.toggle('is-opened', mobileMenuOpen);
    document.body.style.overflowY = mobileMenuOpen ? 'hidden' : 'auto';
  }

  function onResize() {
    if (window.innerWidth > BREAKPOINT_LG) {
      hamburger?.classList.remove('is-opened');
      menu?.classList.replace('visible', 'invisible');
      mobileMenuOpen = false;
      document.body.style.overflowY = mobileMenuOpen ? 'hidden' : 'auto';
    }
  }

  window.onresize = onResize;

  if (hamburger) {
    hamburger.addEventListener("click", mobileMenuToggle);
  }
</script>

<style>
  .line {
    @apply block my-[6px] h-[2px] w-[22px] origin-center transform-gpu rounded-none bg-black dark:bg-white transition-all duration-300 ease-in-out;
  }

  .is-opened .line:nth-child(1) {
    @apply translate-y-2 rotate-45;
  }

  .is-opened .line:nth-child(2) {
    @apply opacity-0;
  }

  .is-opened .line:nth-child(3) {
    @apply -translate-y-2 -rotate-45;
  }
</style>
