---
import ThemeSwitcher from './ThemeSwitcher.astro';
---

<header class="absolute left-0 top-0 w-full bg-white dark:bg-black z-50 font-display transition-all duration-300">
  <div
    id="header-content"
    class="container flex justify-between items-center lg:justify-start select-none py-6 bg-white dark:bg-black transition-all duration-300"
  >
    <a href="/" title="Indevitus" class="flex items-center gap-3">
      <img
        id="company-logo"
        src="/badge-white.svg"
        alt="Indevitus"
        height="80px"
        class="h-12 lg:h-16 mix-blend-difference transition-height duration-300"
      />
    </a>

    <button
      id="hamburger"
      class="no-tap-highlight cursor-pointer bg-transparent lg:hidden"
      aria-controls="menu"
    >
      <span class="line" />
      <span class="line" />
      <span class="line" />
    </button>

    <nav
      id="menu"
      class="flex flex-col overflow-y-auto fixed w-full h-[100dvh] lg:h-auto bottom-0 left-0 pt-8 pb-24 bg-white dark:bg-black transition-colors duration-300 z-50 invisible lg:static lg:flex-row lg:visible lg:p-0 lg:w-auto lg:ml-auto lg:overflow-visible uppercase"
    >
      <ul class="container flex flex-col lg:flex-row lg:space-x-8 lg:items-center lg:px-0 text-black dark:text-white text-sm">
        <li class="mb-6 lg:mb-0">
          <a
            href="#clients"
            class="relative pb-1 after:content-[''] after:absolute after:bottom-0 after:h-[1px] after:transition-[width] after:duration-300 after:ease-in-out after:left-0 after:w-0 after:bg-black dark:after:bg-white hover:after:w-full"
            >Clients</a>
        </li>
        <li class="mb-6 lg:mb-0">
          <a
            href="#contact"
            class="relative pb-1 after:content-[''] after:absolute after:bottom-0 after:h-[1px] after:transition-[width] after:duration-300 after:ease-in-out after:left-0 after:w-0 after:bg-black dark:after:bg-white hover:after:w-full"
            >Contact</a>
        </li>
      </ul>

      <div class="container lg:px-0 lg:ml-8 mt-auto py-2 lg:py-0">
        <ThemeSwitcher />
      </div>
    </nav>
  </div>
</header>


<script>
  const BREAKPOINT_LG = 1024;
  const FOOTER_COLLISION_OFFSET = 10;
  const header = document.querySelector('header');
  const hamburger = document.getElementById('hamburger');
  const menu = document.getElementById('menu');
  let mobileMenuOpen = false;

  function bodyScrollLock () {
    document.body.style.overflowY = mobileMenuOpen ? 'hidden' : 'auto';
  }

  function mobileMenuToggle () {
    mobileMenuOpen = !mobileMenuOpen;
    const visibilityClass = mobileMenuOpen ? 'visible' : 'invisible';

    if (menu) {
      menu?.classList.replace(visibilityClass === 'visible' ? 'invisible' : 'visible', visibilityClass);
      menu.style.top = `${header?.offsetHeight}px`;
      hamburger?.classList.toggle('is-opened', mobileMenuOpen);
      bodyScrollLock();
    }
  }

  function onResize() {
    if (window.innerWidth > BREAKPOINT_LG) {
      hamburger?.classList.remove('is-opened');
      menu?.classList.replace('visible', 'invisible');
      mobileMenuOpen = false;
      bodyScrollLock();
    }
  }

  function headerStickyToggle () {
    const headerContent = document.getElementById('header-content');
    const companyLogo = document.getElementById('company-logo');
    const hero = document.getElementById('hero');
    const footerRect = document.querySelector('footer')?.getBoundingClientRect();

    if (header && footerRect && companyLogo && hero) {
      const isFooterObserved = footerRect.top <= header?.offsetHeight - FOOTER_COLLISION_OFFSET
      const isSticky = window.scrollY >= (hero?.offsetHeight - 112) + 40;

      header?.classList.toggle('-translate-y-full', isFooterObserved);
      header.classList.toggle('!fixed', isSticky);

      headerContent?.classList.toggle('border-b', isSticky);
      headerContent?.classList.toggle('border-black', isSticky);
      headerContent?.classList.toggle('dark:border-neutral-100', isSticky);
      headerContent?.classList.toggle('!py-2', isSticky);
      companyLogo?.classList.toggle('lg:!h-12', isSticky);
      companyLogo?.classList.toggle('!h-10', isSticky);
    }
  }

  window.onresize = onResize;
  window.onscroll = headerStickyToggle;
  window.onload = headerStickyToggle;

  if (hamburger) {
    hamburger.addEventListener("click", mobileMenuToggle);
  }
</script>

<style>
  .line {
    @apply block my-[6px] h-[2px] w-[22px] origin-center transform-gpu rounded-none bg-black dark:bg-white transition-all duration-300 ease-in-out;
  }

  .is-opened .line:nth-child(1) {
    @apply translate-y-2 rotate-45;
  }

  .is-opened .line:nth-child(2) {
    @apply opacity-0;
  }

  .is-opened .line:nth-child(3) {
    @apply -translate-y-2 -rotate-45;
  }
</style>
