<div data-aos="fade" data-aos-delay="100" data-aos-duration="1400" class="pt-[106px] lg:pt-[120px] pb-8 lg:pb-16 lg:col-span-8">
  <div class="pt-8 lg:pt-16 font-display text-5xl lg:text-9xl">
    <p class="px-8 lg:px-0">Hello</p>
  </div>
  <div class="px-8 lg:px-0 pt-4 lg:pt-8">
    <p class="font-display text-xl lg:text-3xl lg:leading-[3rem] pb-4">
      We are <span class="font-bold uppercase">Indevitus.</span><br />
      We source exceptional talent and remotely embed them within your company for a reasonable monthly fee.
    </p>
    <a
      href="https://www.linkedin.com/company/indevitus/"
      class="rounded inline-block transition duration-300 ease-in-out bg-black dark:bg-white hover:!bg-gray-light text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2"
      target="_blank"
    >
      Get in touch
    </a>
  </div>
</div>
