<div data-aos="fade" data-aos-delay="100" data-aos-duration="1400" class="container border-b border-black dark:border-neutral-100 grid grid-cols-1 lg:grid-cols-12 min-h-screen items-center">
  <div class="lg:col-span-7 lg:pt-28">
    <p class="font-display text-xl lg:text-3xl lg:leading-[3rem] pb-5">
      <span class="block">We are Indevitus.</span>
      <span>
        We source <span class="font-bold uppercase">exceptional</span> talent and remotely embed them within your company for a reasonable monthly fee.
      </span>
    </p>

    <p class=" text-base lg:text-lg pb-7">Curabitur rutrum, urna rutrum consequat venenatis, massa urna accumsan diam, ut tempus mi ante eget lorem.</p>
    <a
      href="https://www.linkedin.com/company/indevitus/"
      class="font-display rounded inline-block transition-colors duration-300 ease-in-out bg-black dark:bg-white hover:!bg-black/70 dark:hover:!bg-white/90 text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2"
      target="_blank"
    >
      Get in touch
    </a>
  </div>
</div>
