---
import ComputerLogo from './ComputerLogo.astro'
---

<div id="hero" class="overflow-hidden relative z-0">
  <div class="container border-b border-black dark:border-neutral-100 grid lg:grid-cols-12 gap-x-12 min-h-screen items-center">
    <div data-aos="fade" data-aos-delay="100" data-aos-duration="1400" class="relative z-[100] lg:col-span-7 lg:pt-28 order-last lg:order-first">
      <p class="font-display text-xl lg:text-3xl lg:leading-[3rem] pb-5">
        <span class="block">At <span class="font-bold font-archivoBlack tracking-tighter uppercase">Indevitus</span>, we believe that success is built on collaboration.</span>
        <span>
          That's why we foster a culture of teamwork and innovation, where every member of our team is empowered to contribute their unique skills and insights.
        </span>
      </p>
      <p class="text-base lg:text-lg pb-7">By harnessing the collective expertise of our talented professionals, we deliver solutions that drive real business results and create value for our clients.</p>
      <a
        href="https://www.linkedin.com/company/indevitus/"
        class="font-display rounded inline-block transition-colors duration-300 ease-in-out bg-black dark:bg-white hover:!bg-black/70 dark:hover:!bg-white/90 text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2"
        target="_blank"
      >
        Get in touch
      </a>
    </div>

    <div class="relative lg:col-span-5 mx-auto  text-black w-[300px] xs:w-[400px] lg:w-full pt-[96px] lg:pt-0 xl:mr-[-70px]">
      <div class="relative z-[100]" data-aos="fade" data-aos-delay="100" data-aos-duration="1400">
        <ComputerLogo  />
      </div>

      <span id="hero-illustration" class="absolute rotate-[118deg] right-0 -top-[86%] -left-3/4 lg:-rotate-1 text-gold/80 z-50 pointer-events-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="1491" height="1161" viewBox="0 0 1491 1161" fill="currentColor" class="min-h-[120vh] min-w-[100vw]">
          <path d="M318.635 86.6942C198.697 187.217 180.111 377.298 98.8809 517.527C70.6041 566.322 34.0667 609.992 15.0036 664.123C-28.7619 788.026 31.472 928.572 112.093 1026.98C150.536 1073.93 195.44 1116.94 249.77 1136.72C291.55 1151.94 336.348 1152.57 380.325 1152.97L1150.79 1160.9C1236.81 1161.77 1332.39 1158.62 1394.24 1092.21C1436.87 1046.48 1454.18 979.692 1468.88 915.944C1486.93 837.613 1503.3 752.546 1475.2 677.94C1443.11 592.582 1361.96 544.21 1311.55 470.555C1229.74 351.223 1231.62 170.731 1127.44 75.4664C1078.8 31.0041 1014.62 13.5679 952.083 4.84978C834.184 -11.6089 722.506 19.4592 606.725 15.1266C507.756 11.428 400.739 17.8741 318.635 86.6942Z" fill="currentColor"/>
        </svg>
      </span>
    </div>
  </div>

</div>
