---
import Megaphone from './Icons/Megaphone.astro';
import TriangleIllustration from "./Icons/TriangleIllustration.astro";
import OpenPositions from "./OpenPositions.astro";
---

<div class="relative pt-20 sm:py-20">
  <div class="absolute left-0 bottom-0 top-auto z-10 h-[70%] sm:h-[80%] w-full text-primary">
    <TriangleIllustration />
  </div>
</div>

<div class="bg-primary lg:grid lg:grid-cols-12 lg:gap-x-16 py-10 px-3 lg:px-12 items-center overflow-hidden">
  <div class="lg:col-span-5 flex justify-center mb-11 lg:mb-0">
    <div class="relative px-5 xs:px-8 py-4 font-bold text-4xl sm:text-5xl uppercase shadow-lg bg-white text-black rounded-lg max-w-[268px] min-h-[200px] max-h-[156px] xs:max-h-[unset] text-center -rotate-[4deg]">
      We are
      <span class="text-5xl sm:text-6xl">Hiring</span>
      <span class="absolute text-sm bg-maximum-red right-0 bottom-2 text-white left-[10%] xs:left-[40%] py-[6px] rounded-l rounded-b font-normal">Join our team</span>
      <div class="absolute -left-[140px] rotate-180 -scale-y-[1] -bottom-[36px] text-white w-52 min-w-[12rem] -z-[1]">
        <Megaphone />
      </div>
    </div>
  </div>

  <div class="lg:col-span-7 h-full border-t-[1.5px] lg:border-l-[1.5px] lg:border-t-0">
    <OpenPositions />

    <a
      href="/careers"
      class="rounded block transition-colors duration-300 ease-in-out max-w-fit mx-auto bg-secondary dark:bg-white hover:!bg-secondary/70 dark:hover:!bg-white/90 text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2 lg:ml-28"
    >
      See open positions
    </a>
  </div>
</div>

<div class="relative pb-20 sm:py-20">
  <div class="absolute left-0 top-0 xs:top-[1px] bottom-auto z-10 h-[70%] sm:h-[80%] rotate-180 w-full text-primary">
    <TriangleIllustration />
  </div>
</div>
