---
import Megaphone from './Icons/Megaphone.astro';
---

<div class="relative pt-20 sm:py-20">
  <div class="absolute left-0 bottom-0 top-auto z-10 h-[70%] sm:h-[80%] w-full text-gold/80">
    <svg class="absolute left-0 bottom-0 w-full h-full" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"> <polygon points="100 10 100 0 -4 10"></polygon> </svg>
  </div>
</div>

<div class="bg-gold/80 lg:grid lg:grid-cols-12 lg:gap-x-16 py-16 lg:py-24 px-3 lg:px-12 items-center font-display overflow-hidden">
  <div class="lg:col-span-5 flex items-center mb-11 lg:mb-0 flex-row-reverse justify-between sm:justify-center lg:flex-col lg:gap-5">
    <div class="relative px-5 xs:px-8 py-4 font-bold text-4xl sm:text-5xl uppercase shadow-lg bg-white text-black rounded-lg max-w-[268px] min-h-[200px] max-h-[156px] xs:max-h-[unset] text-center -rotate-[10deg]">
      We are
      <span class="text-5xl sm:text-6xl">Hiring</span>
      <span class="absolute text-sm bg-red-500 right-0 bottom-2 text-white left-[10%] xs:left-[40%] py-[6px] rounded-l rounded-b font-normal">Join our team</span>
    </div>

    <div class="text-white -rotate-[4deg] w-52 min-w-[12rem]">
      <Megaphone />
    </div>
  </div>

  <div class="lg:col-span-7 h-full flex justify-center flex-col sm:items-center lg:items-start border-t-[3px] lg:border-l-[3px] lg:border-t-0">
    <ul class="pt-5 lg:pl-28 lg:pt-0 space-y-4 mb-10 text-black">
      <li class="w-fit">
        <p class="bg-white shadow-lg text-xl sm:text-2xl p-1 pr-3 font-semibold mb-1 whitespace-nowrap">Dot net developer</p>
        <span class="text-base sm:text-xl text-white">3 Years + Experience</span>
      </li>
      <li class="w-fit">
        <p class="bg-white shadow-lg text-xl sm:text-2xl p-1 pr-3 font-semibold mb-1 whitespace-nowrap">Senior Frontend developer</p>
        <span class="text-base sm:text-xl text-white">4 Years + Experience</span>
      </li>
    </ul>

    <a
      href="https://www.linkedin.com/company/indevitus/"
      class="font-display rounded sm:relative sm:-left-20 lg:static inline-block transition-colors duration-300 ease-in-out max-w-fit bg-black dark:bg-white hover:!bg-black/70 dark:hover:!bg-white/90 text-white dark:text-black whitespace-nowrap px-3 lg:px-5 py-1 lg:py-2 lg:ml-28"
      target="_blank"
    >
      See open positions
    </a>
  </div>
</div>

<div class="relative pb-20 sm:py-20">
  <div class="absolute left-0 top-0 xs:top-[1px] bottom-auto z-10 h-[70%] sm:h-[80%] rotate-180 w-full text-gold/80">
    <svg class="absolute left-0 bottom-0 xs:-bottom-[1px] w-full h-full" aria-hidden="true" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"> <polygon points="100 10 100 0 -4 10"></polygon> </svg>
  </div>
</div>
