<div class="container relative py-16 lg:py-24 px-8 lg:px-0">
  <div class="absolute z-[-1] right-[calc(-50vw_+_50%)] top-0 w-screen h-full"></div>
    <div class="grid md:grid-cols-12">
        <div class="text-xl lg:text-3xl lg:leading-[3rem] md:col-span-10">
            <p><span class="block font-bold">We are based in Bosnia & Herzegovina,</span> a source of young, educated, English speaking, hard working and culturally western talent.</p>
        </div>
        <div class="pt-[70px] text-xl lg:text-3xl lg:leading-[3rem] md:col-span-10">
            <p><span class="block font-bold">We worry about payroll,</span> administration, team-building and culture-fit so you don't have to.</p>
        </div>
    </div>

    <div id="glide-team" class="__glide glide-team pt-[70px] lg:px-[30px]">
      <div id="glide-track" class="__glide__track" data-glide-el="track">
        <div id="glide-slides" class="__glide__slides lg:!grid lg:grid-cols-3 lg:gap-x-[60px] gap-y-6 lg:gap-y-10">
          <!-- Adnan Rizvan -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%">
              <title>Adnan Rizvan</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/adnan.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Adnan Rizvan</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Senior Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-500 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/rizvanadnan/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Haris Begic -->
          <div id="glide-slide" class="lg:pt-14 flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Haris Begić</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
                <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                  <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                  <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/haris.png"/>
                </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Haris Begić</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Software Engineer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/haris-begi%C4%87-2b73531a9/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Aldin Mikara -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Aldin Mikara</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/aldin.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Aldin Mikara</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/aldin-mikara-08b9a7201/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Harun Mesan -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Harun Mešan</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/harun.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Harun Mesan</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/harun-me%C5%A1an-34b535227/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Mehmed Karadza -->
          <div id="glide-slide" class="lg:pt-14 flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Mehmed Karadža</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/mehmed.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Mehmed Karadža</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/mehmedkaradza"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

            <!-- Emir Gajip -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Emir Gajip</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/emir.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Emir Gajip</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/emir-gajip-b2979a202/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Nejra Duvnjak -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Nejra Duvnjak</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                  <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/nejra.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Nejra Duvnjak</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Junior Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/nejra-duvnjak-61296b233/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Dino Halilovic -->
          <div id="glide-slide" class="lg:pt-14 flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Dino Halilovic</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/aldin.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Dino Halilović</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/dino-halke/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>

          <!-- Husan Omerinovic -->
          <div id="glide-slide" class="flex flex-col items-center self-center gap-2 __glide__slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%" class="image">
              <title>Husan Omerinović</title>
              <defs>
                <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
                  <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
                </clipPath>
                <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
                  <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
                </clipPath>
              </defs>
              <g clip-path="url(#maskImage)" transform="translate(0 -7)">
                <rect width="120" height="120" x="70" y="38" class="fill-gold" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
                <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href="/team/aldin.png"/>
              </g>
            </svg>

            <div class="border-t-2 border-gold w-4/5 px-4 flex flex-col justify-center items-center gap-1 text-center whitespace-nowrap">
              <p class="text-lg lg:text-2xl pt-2 lg:pt-5">Husan Omerinović</p>
              <p class="lowercase text-xs sm:text-sm lg:text-base opacity-60">Junior Frontend Developer</p>
              <a
                class="inline-block transition-transform ease-in-out duration-300 hover:scale-110 text-blue-diamond"
                target="_blank"
                href="https://www.linkedin.com/in/husan-omerinovic-69b5b8286/"
                title="LinkedIn"
              >
                Go to linkedin
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
   .glide__slide {
        @apply !h-auto flex justify-center items-center flex-col;
    }

    .image {
      @apply relative scale-90 transition-transform duration-200 ease-in;
    }

    .image__foreground {
      @apply -translate-y-[10px] scale-110 transition-transform duration-200 ease-in;
    }

    .image:hover {
      @apply scale-100;
    }

    .image:hover .image__foreground {
      @apply -translate-y-[13px] scale-112;
    }
</style>
