<div id="team" class="container team hidden lg:grid grid-cols-4 gap-1 py-16 border-b border-black dark:border-white">
    <img loading="lazy" src="/team/work1.png" alt="Team" class="lg:col-span-2" />
    <div class="p-16 col-span-2 flex items-center justify-center uppercase text-2xl text-center">
        <p>We are based in Bosnia Herzegovina, a breeding ground of young, educated, English speaking, hard working and culturally western talent.</p>
    </div>
    <img loading="lazy" src="/team/adnan.png" alt="Adnan" />
    <img loading="lazy" src="/team/haris.png" alt="Haris" />			
    <img loading="lazy" src="/team/work2.png" alt="Team" class="col-span-2" />
    <div class="p-16 col-span-2 flex items-center justify-center uppercase text-2xl text-center">
        <p>We worry about payroll, administration, team-building and culture-fit so you don't have to.</p>
    </div>
    <img loading="lazy" src="/team/nejra.png" alt="Nejra" />			
    <img loading="lazy" src="/team/harun.png" alt="Harun" />
    <img loading="lazy" src="/team/mehmed.png" alt="Mehmed" />
    <img loading="lazy" src="/team/emir.png" alt="Emir" />
    <img loading="lazy" src="/team/aldin.png" alt="Aldin" />
    <img loading="lazy" src="/team/wall.png" alt="We are Indevitus" />
</div>