<div class="py-8 lg:py-16 border-b border-black dark:border-white px-8 lg:px-0">
    <p class="pb-4 lg:pb-8 text-xl lg:text-3xl text-center font-display">Our clients think we are kind of a big deal</p>    
    <div class="__glide glide-testimonials">
        <div class="__glide__track" data-glide-el="track">
            <ul class="__glide__slides text-lg lg:text-2xl text-center italic">
                <li class="__glide__slide flex flex-col items-center justify-between space-y-4">
                    <blockquote>"Indevitus is a reliable partner that delivers quality work on time and within budget. Highly recommended!" - Sal, co-founder, cadrelo.com</blockquote>
                </li>
                <li class="__glide__slide flex flex-col items-center justify-between space-y-4">
                    <blockquote>"Indevitus exceeded our expectations. Their team is polished, proficient, accessible and professional. Big thumbs up!" - Todd, founder, BuySellAds.com</blockquote>
                </li>
            </ul>
        </div>
        <div class="__glide__bullets flex space-x-2 items-center justify-center mt-4" data-glide-el="controls[nav]">
            <button class="__glide__bullet w-3 h-3 border border-black dark:border-white rounded-full" data-glide-dir="=0"></button>
            <button class="__glide__bullet w-3 h-3 border border-black dark:border-white rounded-full" data-glide-dir="=1"></button>
        </div>           
    </div>
</div>
