<div class="py-8 lg:py-16 font-display lg:leading-10 uppercase border-b border-black dark:border-white ">
    <p data-aos="fade-up" data-aos-duration="1400" class="pb-4 lg:pb-8 text-xl lg:text-3xl  text-center">Our clients think we are kind of a big deal</p>    
    <div class="__glide glide-testimonials">
        <div class="__glide__track" data-glide-el="track">
            <ul class="__glide__slides text-lg lg:text-2xl">
                <li data-aos="fade-up" data-aos-delay="200" data-aos-duration="1400" class="__glide__slide flex flex-col items-center justify-between space-y-4">
                    <blockquote>"Indevitus is a reliable partner that delivers quality work on time and within budget. Highly recommended!" - Sal, co-founder cadrelo.com</blockquote>
                </li>
            </ul>
        </div>
    </div>
</div>
