---
import Moon from './Icons/Moon.astro';
import Sun from './Icons/Sun.astro';
---
<div class="flex">
  <button
    id="theme-toggle"
    aria-label="toggle light theme"
    class="w-6 h-6 hidden dark:block text-white"
  >
    <Sun />
  </button>

  <button
    id="theme-toggle"
    aria-label="toggle dark theme"
    class="block w-6 h-6 dark:hidden"
  >
    <Moon />
  </button>
</div>

<script>
  const element = document.documentElement;
  const themeToggler = document.querySelectorAll("#theme-toggle");

  const theme = (() => {
    const windowThemePreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    const themePreference = localStorage.getItem('theme') ? localStorage.getItem('theme') : windowThemePreference;
    return themePreference;
  })();

  const setThemePreference = () => {
    element.classList.toggle('dark', theme !== 'light');
  }

  setThemePreference();

  const toggleThemePreference = () => {
    element.classList.toggle("dark");
    localStorage.setItem("theme", element.classList.contains("dark") ? "dark" : "light");
  }

  themeToggler.forEach(toggler => toggler.addEventListener("click", toggleThemePreference))
</script>
