---
const {employeeId, name} = Astro.props
---

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -10 100 120" class="w-full md:w-[85%] image" height="100%">
  <title>{name}</title>
  <defs>
    <clipPath id="maskImage" clipPathUnits="userSpaceOnUse">
      <path d="M100 63A50 50 0 110 70C0 42 20 0 48 0c27 0 52 42 52 70z" />
    </clipPath>
    <clipPath id="maskBackground" clipPathUnits="userSpaceOnUse">
      <path d="M190 101a50 50 0 01-50 50 50 50 0 01-50-50 50 50 0 0150-50 50 50 0 0150 50z" />
    </clipPath>
  </defs>
  <g clip-path="url(#maskImage)" transform="translate(0 -7)">
    <rect width="120" height="120" x="70" y="38" class="fill-primary" clip-path="url(#maskBackground)" rx="58" ry="42" transform="translate(-90 -31)"/>
    <image width="100%" height="100%" x="-10" y="0" fill="none" class="image__foreground" href={`/team/${employeeId}.png`} />
  </g>
</svg>

<style>
  .image {
    @apply relative scale-90 transition-transform duration-200 ease-in;
  }

  .image__foreground {
    @apply -translate-y-[10px] scale-110 transition-transform duration-200 ease-in;
  }

  .image:hover {
    @apply scale-100;
  }

  .image:hover .image__foreground {
    @apply -translate-y-[13px] scale-112;
  }
</style>
