---
interface Props {
  title: string;
}

const { title } = Astro.props;

// Astro will bundle and optimize this CSS for you automatically
// This also works for preprocessor files like .scss, .styl, etc.
import '../styles/base.css';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Indevitus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="og-image-logo.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/fav-icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav-icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav-icon/favicon-16x16.png">
    <link rel="manifest" href="/fav-icon/site.webmanifest">
    <link rel="mask-icon" href="/fav-icon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="preconnect stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-secondary bg-white transition-all duration-300 relative cursor-none hover:cursor-none">
    <div id="cursorDot" class="hidden lg:block w-6 h-6 bg-white mix-blend-difference fixed z-[101] rounded-full pointer-events-none overflow-hidden" />
    <slot />
  </body>
</html>

<script>
  const cursorDot = document.querySelector('#cursorDot') as HTMLElement;

  function moveCursor(event: MouseEvent) {
    if (cursorDot) {
      const mouseX = event.clientX - 7;
      const mouseY = event.clientY - 7;

      cursorDot.style.top = `${mouseY}px`
      cursorDot.style.left = `${mouseX}px`
    }
  }

  document.addEventListener('mousemove', (event) => moveCursor(event))
</script>

<style is:global>
  a,
  button {
    cursor: none;
  }

  [x-cloak] { display: none; }
</style>
